.App {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); /* Ajusta el número de columnas automáticamente */
  gap: 10px; /* Espaciado entre imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
  padding: 20px; /* Espaciado interno */
}

.hero-image {
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.hero-image:hover {
  border: 2px solid #007bff;
}

.selected {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.selected ul {
  list-style: none;
  padding: 0;
}

.position-image {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.position-image:hover {
  transform: scale(1.1);
}

.position-image.selected {
  border: 3px solid #00ff00; /* Resalta la imagen seleccionada */
  border-radius: 10px;
}

/* Estilos para el contenedor de equipos */
.teams-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

/* Estilos para cada equipo */
.team {
  flex: 1;
  margin: 0 10px;
}

.team h2 {
  text-align: center;
}

.team ul {
  list-style-type: none;
  padding: 0;
}

.team li {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}

.selection-container {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre las selecciones */
}

.player-selection, .position-selection {
  flex: 1; /* Cada sección ocupa un espacio igual */
}

.positions-grid {
  display: flex;
  justify-content: center; /* Centra las posiciones dentro de su contenedor */
}
